{% trans_default_domain 'system' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}home{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}home{% endtrans %}</h1>
    <br>
    <h2>Locate {{ locate }}</h2>
    <br>
    <a href=" {{ path('app_login') }}">{% trans %}login{% endtrans %}</a>
{% endblock %}
